[submodule ".registry"]
	path = .registry
	url = https://github.com/mustberuss/mustberuss.r-universe.dev
	branch = HEAD
[submodule "patentsview"]
	path = patentsview
	url = https://github.com/mustberuss/patentsview
	branch = russ-pr-refactorings
